<div class="hon-clp-main-banner-text-content">
    <div class="hon-clp-main-banner-title">
        <h1 class="hon-title">Prime Collezione</h1>
        <p class="hon-clp-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    </div>
</div>